.div1 {
	justify-content: center;
	display: flex;
	margin: 15px;
}

.div1 button {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: rgb(218, 127, 142);
	border-bottom: 2px solid   rgb(160, 217, 221) ;
	border-right: 2px solid   plum ;
	border-left: 2px solid   plum ;
	box-shadow: 2px #573d4f;
	font-size: 2em;
}

.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	margin-right: 50px;
}

.head, 
.left_arm, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #0f336d;
}
.torso {
	background-color: rgb(19, 2, 116);
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	display: flex
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex; 
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: rgb(243, 232, 232);  
	
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}




.robots1 {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	margin-left: 50px;
	
}

.head1, 
.left_arm1, 
.right_arm1, 
.left_leg1, 
.right_leg1 {
	 background-color: #c0129a;
}
.torso1 {
	background-color: rgb(123, 179, 97);
}

.head1 { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes1 {
	display: flex
}

.head1:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body1 { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm1, .right_arm1 { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm1 { 
	margin-right: 10px; 
} 

.right_arm1 { 
	margin-left: 10px; 
} 

.torso1 { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body1 { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex; 
} 

.left_leg1, .right_leg1 { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg1 { 
	margin-left: 45px; 
} 

.left_leg1:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg1 { 
	margin-left: 30px; 
}
.right_leg1:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.left_eye1, .right_eye1 { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: rgb(243, 232, 232);  
	
} 

.left_eye1 { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye1 { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}





