/* Selector {
    Property: value;

} */
/* * {
  text-align: right;
} */
body {
  background-image: url(background.jpg);
  background-size: cover;
}

h2 {
  color: #aa3939;
  text-align: center;
  border: 2px solid #f57878;
  cursor: pointer;
}

h2:hover {
  color: green;
}
ul {
  text-align: right;
}
li {
  color: #aa3939;
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}
li:hover {
  background-color: blueviolet;
}
p {
  color: #310000;
  font-size: 1.2rem;
  font-weight: 700;
  /* text-decoration: underline; */
  /* text-transform: uppercase; */
  line-height: 40px;
  font-style: italic;
  /* font-family: 'Poiret One'; */
  text-transform: capitalize;
}
img {
  float: left;
  margin: 20px;
}

.webtext {
  border: 2px solid rgb(233, 25, 215);
}

.active {
  color: red;
}
#div1 {
  background: rgba(8, 255, 0, 0.25);
}
#div2 {
  background: rgba(25, 60, 0, 0.4);
  /* background: rgba(red, green, blue, alpha); */
}
span {
  font-size: 2em;
}
footer {
  clear: both;
  text-align: center;
}
